# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.next
/.turbo

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Folder server-side
/node_modules
/server/node_modules
/server
/src/server

# Editor & OS Files
.vscode/
.idea/

# Cache & Output Files
.parcel-cache
.eslintcache
.babelrc

# Dependency lock files (opsional, kecuali kalau pakai monorepo)
package-lock.json
yarn.lock
